body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clicked{
  color: rgb(242, 255, 0);
  border-bottom: 1px solid red;
}
.menu_style {
  width: 100%;
  line-height: 60px;
  background-color: seagreen;
  display: flex;
  justify-content: space-around;
}